##                                                                                                                           DINESH RAJAN R A
###                                                                                                                                                            20CSEG06

## COVID 19 ANALYSIS FOR INDIA

### Importing the Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Loading the dataset which we got from 
https://api.covid19india.org/

In [2]:
df=pd.read_csv("C:/Users/DELL/Downloads/covid_19_india.csv",index_col=0)
df.head(2)

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
Sno,,,,,,,,
1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1

### Data Cleaning

Now, we are going to change the datatypes, removing null values, dropping the variables which we do not need for the analysis.

In [ ]:
df.dtypes

Here we have date variable which is of object data type. Now, we are going to convert this into date datatype.

In [3]:
df["Date"]=pd.to_datetime(df["Date"])
df=df.set_index("Date")

We have changed the datatype of the variable DATE and to know about the null or missing values we can use the info() function.

In [ ]:
df.info()

In [4]:
df["Year"]=df.index.year
df["Month"]=df.index.month
df["WeekDays"]=df.index.weekday
df.tail(2)

,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Year,Month,WeekDays
Date,,,,,,,,,,
2021-04-23,8:00 AM,Uttar Pradesh,-,-,706414,10541,976765,2021,4,4
2021-04-23,8:00 AM,West Bengal,-,-,621340,10766,700904,2021,4,4

In [5]:
df=df.groupby([df.index.year,df.index.month]).last()

In [6]:
df

              Time              State/UnionTerritory ConfirmedIndianNational  \
Date Date
2020 1     6:00 PM                            Kerala                       1
     2     6:00 PM                            Kerala                       3
     3     8:30 PM                        Unassigned                       -
     4     5:00 PM                       West Bengal                       -
     5     8:00 AM  Cases being reassigned to states                       -
     6     8:00 AM  Cases being reassigned to states                       -
     7     8:00 AM                       West Bengal                       -
     8     8:00 AM                       West Bengal                       -
     9     8:00 AM                       West Bengal                       -
     10    8:00 AM                       West Bengal                       -
     11    8:00 AM                       West Bengal                       -
     12    8:00 AM                       West Bengal                       -
2021 1     8:00 AM                       West Bengal                       -
     2     8:00 AM                       West Bengal                       -
     3     8:00 AM                       West Bengal                       -
     4     8:00 AM                       West Bengal                       -

          ConfirmedForeignNational   Cured  Deaths  Confirmed  Year  Month  \
Date Date
2020 1                           0       0       0          1  2020      1
     2                           0       0       0          3  2020      2
     3                           -       0       0         38  2020      3
     4                           -     124      22        758  2020      4
     5                           -       0       0       5491  2020      5
     6                           -       0       0       7004  2020      6
     7                           -   46256    1536      67692  2020      7
     8                           -  130952    3176     159785  2020      8
     9                           -  222805    4899     253768  2020      9
     10                          -  325888    6784     369671  2020     10
     11                          -  448032    8376     480813  2020     11
     12                          -  528829    9683     550893  2020     12
2021 1                           -  553934   10164     569769  2021      1
     2                           -  561327   10266     574926  2021      2
     3                           -  570303   10327     585933  2021      3
     4                           -  621340   10766     700904  2021      4

           WeekDays
Date Date
2020 1            4
     2            5
     3            1
     4            3
     5            6
     6            1
     7            4
     8            0
     9            2
     10           5
     11           0
     12           3
2021 1            6
     2            6
     3            2
     4            4

In [9]:
df=df.rename(index={"Date":"Year",
                   "Date":"Month"})
df

              Time              State/UnionTerritory ConfirmedIndianNational  \
Date Date
2020 1     6:00 PM                            Kerala                       1
     2     6:00 PM                            Kerala                       3
     3     8:30 PM                        Unassigned                       -
     4     5:00 PM                       West Bengal                       -
     5     8:00 AM  Cases being reassigned to states                       -
     6     8:00 AM  Cases being reassigned to states                       -
     7     8:00 AM                       West Bengal                       -
     8     8:00 AM                       West Bengal                       -
     9     8:00 AM                       West Bengal                       -
     10    8:00 AM                       West Bengal                       -
     11    8:00 AM                       West Bengal                       -
     12    8:00 AM                       West Bengal                       -
2021 1     8:00 AM                       West Bengal                       -
     2     8:00 AM                       West Bengal                       -
     3     8:00 AM                       West Bengal                       -
     4     8:00 AM                       West Bengal                       -

          ConfirmedForeignNational   Cured  Deaths  Confirmed  Year  Month  \
Date Date
2020 1                           0       0       0          1  2020      1
     2                           0       0       0          3  2020      2
     3                           -       0       0         38  2020      3
     4                           -     124      22        758  2020      4
     5                           -       0       0       5491  2020      5
     6                           -       0       0       7004  2020      6
     7                           -   46256    1536      67692  2020      7
     8                           -  130952    3176     159785  2020      8
     9                           -  222805    4899     253768  2020      9
     10                          -  325888    6784     369671  2020     10
     11                          -  448032    8376     480813  2020     11
     12                          -  528829    9683     550893  2020     12
2021 1                           -  553934   10164     569769  2021      1
     2                           -  561327   10266     574926  2021      2
     3                           -  570303   10327     585933  2021      3
     4                           -  621340   10766     700904  2021      4

           WeekDays
Date Date
2020 1            4
     2            5
     3            1
     4            3
     5            6
     6            1
     7            4
     8            0
     9            2
     10           5
     11           0
     12           3
2021 1            6
     2            6
     3            2
     4            4

In [ ]:
df.info()

In [ ]:
df=df.drop(["Date"],axis=1)

In [ ]:
df.tail()

In [ ]:
df1=df.groupby(["Month","Year"]).last()
df1

In [ ]:
df1=df1.drop(["State/UnionTerritory"],axis=1)

In [ ]:
df1.head()

In [ ]:
df2=df1[["Cured","Deaths","Confirmed"]]
df2=df2.diff()
df2

In [ ]:
df2=df2.fillna({"Cured":0,"Deaths":0,"Confirmed":1})

In [ ]:
df1=pd.concat([df1,df2.rename(columns={"Cured":"Monthwise_cured",
                              "Deaths":"Monthwise_deaths",
                              "Confirmed":"Monthwise_confirmed"})],axis=1)
df1

In [ ]:
df1.reset_index()

#### From the above information we come to know that 
* We have 9 columns and 14150 rows.
* We also see that in all the 9 columns there are 14150 entries. Which means there are no missing values.

### Data Manipulation

We are going to only take the attributes that are required for our futher/future analysis
And we come to know that "Date", "State/UnionTerritory", "Cured", "Deaths", "Confirmed" are the variables that we want to look in.

In [ ]:
df2=df[["Date", "State/UnionTerritory", "Cured", "Deaths", "Confirmed"]]

In [ ]:
df2.head(2)

In [ ]:
df2.tail(2)

We can subset from the above dataframe df2 for looking in for each State/UnionTerritory. 
And we are interested in looking the cases for Tamil Nadu.

In [ ]:
tamilnadu=df2[df2["State/UnionTerritory"]=="Tamil Nadu"]

In [ ]:
tamilnadu.head(2)

In [ ]:
tamilnadu.dtypes

In [ ]:
tamilnadu.tail(2)

We see that the above data shows the cummulative numbers. We are interested in looking for daily wise numbers.
So we use diff() function

In [ ]:
daily_wise_cases=tamilnadu[["Cured","Deaths","Confirmed"]]
daywise=daily_wise_cases.diff()

In [ ]:
daywise.rename(columns={"Cured":"Daywise Cured","Deaths":"Daywise Deaths","Confirmed":"Daywise Confirmed"})

We have renamed the column names and going to concatinate the dataframe.

In [ ]:
daywise_tn=pd.concat([tamilnadu,daywise.rename(columns=
                                               {"Cured":"Daywise Cured","Deaths":"Daywise Deaths",
                                                "Confirmed":"Daywise Confirmed"
                                               })],axis=1)

In [ ]:
daywise_tn.tail(2)

Now we should not have any duplicate values.
We are going to check the duplicates and remove them.

In [ ]:
print("There are {} duplicated values.".format(daywise_tn.duplicated().sum()))

We have got NO duplicates. So we are going to know check the null values as we converted the cummulative rate to daily rate

In [ ]:
daywise_tn.isnull().sum()

As we expected there is a null value in 1st row of the dataframe daywise_tn.
We are going remove the 1st row of the dataframe.

In [ ]:
tn_daywise=daywise_tn.dropna()
tn_daywise.head(2)

In [ ]:
tn_daywise.isnull().sum()

To look into the range of dates and subsetting the date.

### TAMIL NADU during the month of JANUARY in 2021

Getting only the data of COVID19 cases of TN in January 2021

In [ ]:
tamilnadu_in_jan=tn_daywise.loc[(tn_daywise["Date"] >= "2021-01-01") & (tn_daywise["Date"] <= "2021-01-31")]

In [ ]:
tamilnadu_in_jan.head(2)

In [ ]:
tamilnadu_in_jan.shape

We are only interested in looking at the daywise count of Covid19 cases.
So we drop the cummulative numbers

In [ ]:
tamilnadu_in_jan_daywise=tamilnadu_in_jan.drop(["Cured","Deaths","Confirmed"],axis=1)
tamilnadu_in_jan_daywise.head(2)

Finally we have achieved the daywise data of Covid 19 cases of Tamil Nadu.

### Similarly, it is possible to do this for any State/UnionTerritory and for diffferent days/months/years.

Since we know the data is for the state Tamil Nadu we are dropping the variable State/UnionTerritory.

In [ ]:
tamilnadu_in_jan_daywise=tamilnadu_in_jan_daywise.drop(["State/UnionTerritory"],axis=1)

In [ ]:
tamilnadu_in_jan_daywise.head(2)

Now this is the data we want to deal with Visualization and Statistical inferences.

In [ ]:
tamilnadu_in_jan_daywise.columns

In [ ]:
tamilnadu_in_jan_daywise.describe()

In [ ]:
tamilnadu_in_jan_daywise.corr(method='pearson')

In [ ]:
sns.regplot(x="Daywise Confirmed",y="Daywise Cured",data=tamilnadu_in_jan_daywise)

In [ ]:
sns.lmplot(x="Daywise Confirmed",y="Daywise Cured",data=tamilnadu_in_jan_daywise)

In [ ]:
sns.regplot(x="Daywise Confirmed",y="Daywise Deaths",data=tamilnadu_in_jan_daywise)

From the above plots we find that there is a linear relationship. 
When the Confirmed cases increases the Cured cases also increases.
Which tells that "Daywise Cured" is the dependent variable.

#### Now, we try to do this for Kerala and then compare between the two states.

In [ ]:
kerala=df2[df2["State/UnionTerritory"]=="Kerala"]

In [ ]:
daywise=kerala[["Cured","Deaths","Confirmed"]].diff()

In [ ]:
daywise_kl=pd.concat([kerala,daywise.rename(columns=
                                               {"Cured":"Daywise Cured","Deaths":"Daywise Deaths",
                                                "Confirmed":"Daywise Confirmed"}
                                              )],axis=1)

In [ ]:
print("There are {} duplicated values.".format(daywise_kl.duplicated().sum()))

In [ ]:
daywise_kl.isnull().sum()

In [ ]:
kerala_in_jan=daywise_kl.loc[(daywise_kl["Date"] >= "2021-01-01") & (daywise_kl["Date"] <= "2021-01-31")]

In [ ]:
kerala_in_jan_daywise=kerala_in_jan.drop(["Cured","Deaths","Confirmed"],axis=1)

In [ ]:
kerala_in_jan_daywise=kerala_in_jan_daywise.drop(["State/UnionTerritory"],axis=1)

In [ ]:
kerala_in_jan_daywise.describe()

In [ ]:
kerala_in_jan_daywise.info()

In [ ]:
sns.regplot(x="Daywise Confirmed",y="Daywise Cured",data=kerala_in_jan_daywise)

In [ ]:
sns.lmplot(x="Daywise Confirmed",y="Daywise Cured",data=kerala_in_jan_daywise)

In [ ]:
sns.regplot(x="Daywise Confirmed",y="Daywise Deaths",data=kerala_in_jan_daywise)

In [ ]:
kerala_in_jan_daywise.corr(method='pearson')

From the above plots we find that there is no relationship between confirmed and cured.And it suggests that the number of persons confirmed positive has only half chance of getting cured.

### Insights from January 2021

#### In Tamil Nadu,
* When a person gets confirmed for Covid19, he/she had the high probability of more than 94% of getting cured from Covid19.
* Here we are also suggested that, since we have 0.94 as a correlation between Confirmed and Cured we dont need to worry much about the deaths.

#### In Kerala,
* When a person gets confirmed for Covid19, he/she had a low probability of getting cured. Which is worrying!!! 
* The correlation between Confirmed & Cured cases is 0.50 which tells there is half a chance that the person gets dead.


So the state has to get better in treating people. Lets look into the Month of FEBRUARY 2021 for KERALA to check whether there is a raise in the correlation.

In [ ]:
kerala_in_feb=daywise_kl.loc[(daywise_kl["Date"] >= "2021-02-01") & (daywise_kl["Date"] <= "2021-02-28")]

In [ ]:
kerala_in_feb_daywise=kerala_in_feb.drop(["Cured","Deaths","Confirmed"],axis=1)

In [ ]:
kerala_in_feb_daywise=kerala_in_feb_daywise.drop(["State/UnionTerritory"],axis=1)

In [ ]:
kerala_in_feb_daywise.describe()

In [ ]:
kerala_in_feb_daywise.info()

In [ ]:
sns.regplot(x="Daywise Confirmed",y="Daywise Cured",data=kerala_in_feb_daywise)

In [ ]:
sns.lmplot(x="Daywise Confirmed",y="Daywise Cured",data=kerala_in_feb_daywise)

In [ ]:
sns.regplot(x="Daywise Confirmed",y="Daywise Deaths",data=kerala_in_feb_daywise)

In [ ]:
kerala_in_feb_daywise.corr(method='pearson')

In [ ]:
np.std(kerala_in_feb_daywise["Daywise Cured"])

In [ ]:
np.std(kerala_in_jan_daywise["Daywise Cured"])

In [ ]:
sns.scatterplot(x="Date",y="Daywise Confirmed",data=tamilnadu_in_jan_daywise)

In [ ]:
sns.lineplot(x="Date",y"Daywise Confirmed",data=tamilnadu_in_jan_daywise)

In [ ]:
sns.lineplot(x="Daywise Confirmed",y="Daywise Cured",data=tamilnadu_in_jan_daywise)

In [ ]:
sns.lineplot(x="Daywise Confirmed",y="Daywise Cured",data=kerala_in_jan_daywise)

In [ ]:
sns.barplot(x="Daywise Confirmed",y="Daywise Cured",data=tamilnadu_in_jan_daywise)

In [ ]:
january_tn_kl=pd.merge(tamilnadu_in_jan_daywise,kerala_in_jan_daywise,on="Date")

In [ ]:
january_tn_kl.head(2)

In [ ]:
sns.lineplot(x="Daywise Confirmed_y",y="Daywise Confirmed_x",data=january_tn_kl)

In [ ]:
sns.distplot(january_tn_kl["Daywise Deaths_x"])

In [ ]:
sns.kdeplot(january_tn_kl["Daywise Deaths_x"],shade= True)
sns.kdeplot(january_tn_kl["Daywise Deaths_y"],shade= True)
plt.title('Deaths in January(Tn vs Kl)')
plt.show()

In [ ]:
plt.plot_date(Daywise Deaths,daa=death_jan_tn)
plt.title("Deaths in TN and KL during January")
plt.xlabel("Date")
plt.ylabel("Cases")
plt.show()

In [ ]:
death_jan_tn=tamilnadu_in_jan_daywise[["Daywise Deaths","Date"]]